body {
	font-size: 14px;
	font-weight: normal;
	font-family: ("PT Sans", sans-serif);
	color: #333333;
	line-height: 21px;
	/*background-color: #ffffff;*/
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}
.block-header p {
	font-size: 21px;
	font-weight: bold;
	color: #000000;

}
.main-header {
	
	height: 630px;
	background-image: url("../img/sedona-main.jpg");
	background-position: top;
	background-repeat: no-repeat;
}
.header {	
	height: 270px;
	background-image: url("../img/header-sedona.jpg");
	background-position: top;
	background-repeat: no-repeat;
}
.container {
  	width: 1200px;
  	margin: 0 auto;
  }
.main-navigation {
	float: left;
	width: 1056px;
	/*margin-left: 73px;*/
	/*margin-right: 73px;*/
  }
.main-navigation a {
	color: #000000;
	text-decoration: none;
	display: block;
    padding: 10px 40px;

  }
.main-navigation ul {
  	margin: 0px;
  	padding: 0px;
  	list-style: none;
  	font-size: 0px;

  }
.main-navigation li {
  	display: inline-block;
  	vertical-align: top;
  	font-size: 14px;
  	line-height: 26px;

  }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.about-sedona {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 57px;
	text-align: center;	
}

.bar {
	height: 256px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: right;

}
.barfeature-1 {
	background-color: #81b3d2;
	background-image: url("../img/bar-sedona1.jpg");
	background-position: right;
}
.block-1 {
	float: left;
	width: 400px;
	text-align: center;
}
.block-2 {
	float: right;
	width: 400px;
	text-align: center;
}
.barfeature-2 {
	background-color: #81b3d2;
	background-image: url("../img/bar-sedona2.jpg");
	background-position: left;
}
.benefit-container {
	font-size: 0px;
}
.benefit {
	text-align: center;
	width: 400px;
	height: 250px;
	display: inline-block;
	font-size: 14px;
}
.block-heading {
	font-size: 21px;
	font-style: bold;
}
.choose-hotel {
	min-height: 767px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #ffffff;

}
.link-hotel {
	display: block;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #f7f7f6;
	background-color: #766357;
	width: 576px;
	min-height: 90px;
	margin: 0 auto;		
}
.link-hotel span {
	text-align: center;
	font-size: 21px;
	line-height: 26px;

}
.hotel {
	display: none;
}
.choose-hotel p {
	font-size: 30px;
	line-height: 24px;
	text-align: center;

}
.choose-hotel .choose-date {
	font-size: 14px;
	line-height: 24px;
}

.filter-hotels {
	min-height: 217px;
	margin: 0px;
	padding: 0px;

}

.filter-row {
	width: 313px;
	min-height: 217px;
	float: left;
	font-size: 14px;
}
.filter-row ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
		}

.options {
	width: 288px;
	min-height: 217px;
	float: left;
	margin-right: 200px;
	font-size: 14px;
}
.options ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.filter-cost {
	width: 400px;
	min-height: 217px;
	float: right;
	font-size: 14px;
}
.filter-cost ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.footer-social {
	text-align: center;
	width: 400px;
	float: left;
	min-height: 120px;
}
.footer-social ul{
	list-style: none;
}
.footer-copyright {
	width: 400px;
	float: left;
	text-align: center;
	min-height: 120px;
}
.footer-hashtag {
	width: 400px;
	float: left;
	text-align: center;
	min-height: 120px;
}